<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Booking uz</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta
            content="booking, dacha, tashkent, dala hovli, dala, hovli, dalahovli"
            name="keywords"
        />
        <meta
            content="Dala hovli ijaraga olish uchun mo'ljallangan onlayn platforma"
            name="description"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/img/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/img/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/img/favicon-16x16.png"
        />
        <link rel="manifest" href="/img/site.webmanifest" />
        <link
            rel="mask-icon"
            href="/img/safari-pinned-tab.svg"
            color="#5bbad5"
        />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap"
            rel="stylesheet"
        />

        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
            rel="stylesheet"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
            rel="stylesheet"
        />

        <link href="lib/animate/animate.min.css" rel="stylesheet" />
        <link
            href="lib/owlcarousel/assets/owl.carousel.min.css"
            rel="stylesheet"
        />

        <link href="css/bootstrap.min.css" rel="stylesheet" />

        <link href="css/style.css" rel="stylesheet" />

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var username = document.cookie.replace(
                    /(?:(?:^|.*;\s*)username\s*\=\s*([^;]*).*$)|^.*$/,
                    "$1",
                );
                var loginBlock = document.querySelector(".navbar-nav");
                var welcomeBlock = document.querySelector(".welcome-section");

                if (username) {
                    loginBlock.style.display = "none";
                    welcomeBlock.style.display = "block";
                    welcomeBlock.innerHTML = username + "! 👋🏻";
                }
                // You can use the username variable as needed
            });
        </script>
    </head>

    <body>
        <div class="container-xxl bg-white p-0">
            <div
                id="spinner"
                class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
            >
                <div
                    class="spinner-border text-primary"
                    style="width: 3rem; height: 3rem"
                    role="status"
                >
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="container-fluid nav-bar bg-transparent sticky-top">
                <nav
                    class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4"
                >
                    <a
                        href="/"
                        class="navbar-brand d-flex align-items-center text-center"
                    >
                        <div class="icon p-2 me-2">
                            <img
                                class="img-fluid2"
                                src="img/logo.png"
                                alt="Icon"
                                style="width: 80px"
                            />
                        </div>
                    </a>
                    <button
                        type="button"
                        class="navbar-toggler"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div
                        class="collapse navbar-collapse justify-content-end"
                        id="navbarCollapse"
                    >
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="/login" class="btn btn-primary px-3"
                                    >Kirish</a
                                >
                            </li>
                            <li class="nav-item">
                                <a href="/register" class="btn btn-text-primary"
                                    >Ro'yxatdan o'tish</a
                                >
                            </li>
                        </ul>
                        <a href="/logout" class="link">
                            <h5
                                class="welcome-section"
                                style="text-transform: capitalize"
                            ></h5>
                        </a>
                    </div>
                </nav>
            </div>
            <div class="container-fluid header bg-white p-0">
                <div
                    class="row g-0 align-items-center flex-column-reverse flex-md-row"
                >
                    <div class="col-md-6 p-5 mt-lg-5">
                        <h1 class="display-5 animated fadeIn mb-4">
                            O'zingiz uchun
                            <span class="text-primary">"BOOKINGUZ"</span>
                            dan mukammal dala hovli toping
                        </h1>
                        <p class="animated fadeIn mb-4 pb-2">
                            Dala hovli ijaraga olish uchun mo'ljallangan onlayn
                            platforma sizga bu turdagi joylarni izlash va
                            ijaraga olish imkonini beradi. Bu platforma orqali
                            siz mo'ljalarni katalogda qidirib topishingiz,
                            ularning haqida ma'lumot olishingiz va arzon va
                            qulay narxlarda ijaraga olish imkoniyatiga ega
                            bo'lishingiz mumkin.
                        </p>
                        <a
                            href=""
                            class="btn btn-primary py-3 px-5 me-3 animated fadeIn"
                            >Boshlash</a
                        >
                    </div>
                    <div class="col-md-6 animated fadeIn">
                        <div class="owl-carousel header-carousel">
                            <div class="owl-carousel-item">
                                <img
                                    class="img-fluid"
                                    src="img/image.webp"
                                    alt=""
                                />
                            </div>
                            <div class="owl-carousel-item">
                                <img
                                    class="img-fluid"
                                    src="img/image (2).webp"
                                    alt=""
                                />
                            </div>
                            <div class="owl-carousel-item">
                                <img
                                    class="img-fluid"
                                    src="img/   "
                                    alt=""
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5 align-items-center">
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                            <div
                                class="about-img position-relative overflow-hidden p-5 pe-0"
                            >
                                <img
                                    class="img-fluid w-100"
                                    src="img/about.jpg"
                                />
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                            <h1 class="mb-4">Biz haqimizda</h1>
                            <p class="mb-4">
                                Dala hovli ijaraga olish uchun mo'ljallangan
                                onlayn platforma sizga sifatli va qulay xizmat
                                ko'rsatishni va bir tomondan joylarni ijaraga
                                olishni osonlashtiradi. Siz istalgan vaqt va
                                joyda platforma orqali talab qilgan dala
                                hovlilarni izlash va ijaraga olish imkoniyatiga
                                ega bo'lasiz
                            </p>
                            <p>
                                <i class="fa fa-circle text-primary me-3"></i
                                >Qulay va ishonchli
                            </p>
                            <p>
                                <i class="fa fa-check text-primary me-3"></i
                                >Yuqori sifat
                            </p>
                            <p>
                                <i class="fa fa-check text-primary me-3"></i
                                >Mukammal yechim
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-0 gx-5 align-items-end">
                        <div class="col-lg-6">
                            <div
                                class="text-start mx-auto mb-5 wow slideInLeft"
                                data-wow-delay="0.1s"
                            >
                                <h1 class="mb-3">Dala hovlilar katalogi</h1>
                            </div>
                        </div>
                    </div>

                    <div class="row g-0 gx-5 align-items-start">
                        <div class="text-center">
                            <div
                                class="text-start text-lg-end wow slideInRight"
                                data-wow-delay="0.1s"
                            >
                                <ul class="nav nav-pills mb-5">
                                    <li class="nav-item me-2">
                                        <form
                                            action="/"
                                            method="get"
                                            class="d-flex align-items-center"
                                        >
                                            <label class="me-3">Narx:</label>
                                            <div class="input-group me-3">
                                                <div
                                                    class="input-group-prepend"
                                                >
                                                    <span
                                                        class="input-group-text"
                                                        >dan</span
                                                    >
                                                </div>
                                                <input
                                                    type="number"
                                                    class="form-control"
                                                    id="price-filter"
                                                    name="minPrice"
                                                />
                                                <div
                                                    class="input-group-prepend"
                                                >
                                                    <span
                                                        class="input-group-text"
                                                        >gacha</span
                                                    >
                                                </div>
                                                <input
                                                    type="number"
                                                    class="form-control"
                                                    id="price-filter2"
                                                    name="maxPrice"
                                                />
                                            </div>
                                            <label class="me-3">Xonalar:</label>
                                            <div class="input-group me-3">
                                                <input
                                                    type="number"
                                                    class="form-control"
                                                    id="rooms-filter"
                                                    name="numRooms"
                                                />
                                            </div>
                                            <button
                                                type="submit"
                                                class="btn btn-primary text-white"
                                            >
                                                Filter
                                            </button>
                                            <br />

                                            <a href="/">
                                                <button
                                                    type="submit"
                                                    class="btn btn-warning text-white"
                                                >
                                                    Tozalash
                                                </button>
                                            </a>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row g-4">
                                <% for (let item of data) {%>
                                <div
                                    class="col-lg-4 col-md-6 wow fadeInUp"
                                    data-wow-delay="0.1s"
                                >
                                    <div
                                        class="property-item rounded overflow-hidden"
                                    >
                                        <div
                                            class="position-relative overflow-hidden"
                                        >
                                            <a href="/detail/<%= item._id %>"
                                                ><img class="img-fluid"
                                                style="object-fit: cover;
                                                position: center; width: 500px;
                                                height: 300px;" src=<%=
                                                item.img.split('public')[1] %>
                                                alt="" /></a
                                            >
                                        </div>
                                        <div class="p-4 pb-0">
                                            <h5 class="text-primary mb-3">
                                                <%= item.price %> so'm
                                            </h5>
                                            <a
                                                class="d-block h5 mb-2"
                                                href="/detail/<%= item._id %>"
                                            >
                                                <%= item.name %>
                                            </a>
                                            <p>
                                                <i
                                                    class="fa fa-map-marker-alt text-primary me-2"
                                                ></i
                                                ><%= item.address %>
                                            </p>
                                        </div>
                                        <div class="d-flex border-top">
                                            <small
                                                class="flex-fill text-center border-end py-2"
                                                ><i
                                                    class="fa fa-ruler-combined text-primary me-2"
                                                ></i
                                                ><%=item.area%> m<sup
                                                    >2</sup
                                                ></small
                                            >
                                            <small
                                                class="flex-fill text-center border-end py-2"
                                                ><i
                                                    class="fa fa-box text-primary me-2"
                                                ></i
                                                ><%= item.rooms %> ta
                                                xona</small
                                            >
                                        </div>
                                    </div>
                                </div>
                                <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn"
                data-wow-delay="0.1s"
            >
                <div class="container py-5">
                    <div
                        class="row g-5"
                        style="display: flex; justify-content: space-around"
                    >
                        <div class="col-lg-3 col-md-6">
                            <h5 class="text-white mb-4">Manzillarimiz</h5>
                            <p class="mb-2">
                                <i class="fa fa-map-marker-alt me-3"></i
                                >O'zbekiston, Toshkent sh. 100009
                            </p>
                            <p class="mb-2">
                                <i class="fa fa-phone-alt me-3"></i>+998 99 123
                                45 67
                            </p>
                            <p class="mb-2">
                                <i class="fa fa-envelope me-3"></i
                                >info@booking.uz
                            </p>
                            <div class="d-flex pt-2">
                                <a
                                    class="btn btn-outline-light btn-social"
                                    href="#"
                                    ><i class="fab fa-instagram"></i
                                ></a>
                                <a
                                    class="btn btn-outline-light btn-social"
                                    href="#"
                                    ><i class="fab fa-facebook-f"></i
                                ></a>
                                <a
                                    class="btn btn-outline-light btn-social"
                                    href="#"
                                    ><i class="fab fa-youtube"></i
                                ></a>
                                <a
                                    class="btn btn-outline-light btn-social"
                                    href="#"
                                    ><i class="fab fa-telegram"></i
                                ></a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <h5 class="text-white mb-4">
                                So'ngi yangiliklardan habardor bo'ling
                            </h5>
                            <p>
                                So'ngi yangiliklardan doimo xabardor bo'lish
                                uchun elektron pochtangizni ro'yxatdan
                                o'tkazing.
                            </p>
                            <div
                                class="position-relative mx-auto"
                                style="max-width: 400px"
                            >
                                <input
                                    class="form-control bg-transparent w-100 py-3 ps-4 pe-5"
                                    type="text"
                                    placeholder="Your email"
                                />
                                <button
                                    type="button"
                                    class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2"
                                >
                                    SignUp
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
                ><i class="bi bi-arrow-up"></i
            ></a>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="lib/wow/wow.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
